html{
    font-size: 100%;
}
/* tableau */

table {
    border: thin solid #eeeeee;
    border-collapse: collapse;
    margin: 2%;
    width: 90%;
    overflow: hidden;
}
th{
    border: thin solid #eeeeee;
}
td{ 
    border: thin solid #eeeeee;
    padding: 1%;
    vertical-align: top;
}
.Img {
    padding: 1%;
    border: thin solid #eeeeee;
    border-radius: 5%;
    height: auto;
    width: 5rem;
    } 
.btxt{
    color: rgb(14, 179, 255);
   
}
td.i{
    width: fit-content;
    height: fit-content;
}

/* formulaire */

form {
    font-size: medium;
    
}
/* mis en page acceuil et nav */
.div1
{
    display: flex;
    
}
.articleflex
{ 
    flex: 60%;
}
aside{
    background-color: #eeeeee;
    border: 1px solid #000000;
    
    flex: 30%;
    font-size: medium;
}

ul{
    display: flex;
    background-color: black;
    padding: 1%;

}
li{
    margin-left: 2rem;
}
.txtBlanc{
    color: blanchedalmond;
}
figure{
    display: flex;
}
.txtacenter{
    flex: 20%;
    font-size: xx-large;
    padding: 1%;
    margin: 1%;
}
.logo
{
    padding: 1%;
    height: auto;
    width: 30%;
}