@media screen and (max-width: 768px){
    h1
    {
        font-size: large;
    }
    h2
    {
        font-size: large;
    }
    html
    {
        font-size: 100%;
    }
    /* tableau */

    .articletab
    {
        overflow-x: auto;
    }
    table
    {
        border: thin solid #eeeeee;
        border-collapse: collapse;
        margin: 2%;
        width: 90%;
        font-size: medium;
    }
    th
    {
        border: thin solid #eeeeee;
        font-size: medium;
    }
    tr
    {
        width: fit-content;
    }
    td
    { 
        border: thin solid #eeeeee;
        vertical-align: top;
        padding: 1%;
        width: fit-content;
    }
    .Img
    {
        padding: 1%;
        border: thin solid #eeeeee;
        border-radius: 5%;
        height: auto;
        width: 5rem;
    } 
    .btxt
    {
        color: rgb(14, 179, 255);
    }

    /* formulaire */

    form
    {
        font-size: medium;
    }
    input,select,textarea
    {
        border-width: thin;
        margin: 1%;
    }
    /* mis en page body */
    .div1
    {
        flex: 60%;
        
    }
    .articleflex
    { 
        display: flex;
    }
    aside
    {

        background-color: #eeeeee;
        border: 1px solid #000000;
        flex: 30%;
        font-size: medium;
        display: none;
        
    }
    /* téte de page */
    header
    {
        height: auto;
        width: fit-content;
    }

    .txtacenter
    {
        text-align: center;
        font-size: larger;
        padding: 1%;
        margin: 1%;
    }
    .logo
    {
        align-content: center;
        padding: 1%;
        height: auto;
        width: 100%;
    }
    .promo
    {
        width: 100%;
        height: auto;
    }

    /* navbar */ 
    ul
    {
        width: 100%;
        background-color: black;
        padding: 0%;
        list-style-type: none;
        text-align: center;
    }
    li
    {
        margin-left: 2rem;
    }
    .txtBlanc
    {
        color: blanchedalmond;
    }
}

@media screen and (min-width: 768px){
    html
    {
        font-size: 100%;
    }
    /* tableau */

    table
    {
        border: thin solid #eeeeee;
        border-collapse: collapse;
        margin: 2%;
        width: 90%;
        overflow-x: scroll;
        font-size: medium;
    }
    th
    {
        border: thin solid #eeeeee;
        font: ;
    }
    td
    { 
        border: thin solid #eeeeee;
        vertical-align: top;
    }
    .Img
    {
        padding: 1%;
        border: thin solid #eeeeee;
        border-radius: 5%;
        height: auto;
        width: 5rem;
        } 
    .btxt
    {
        color: rgb(14, 179, 255);
    
    }

    /* formulaire */

    form
    {
        font-size: medium;
        
    }
    /* mis en page body */

    .div1
    {
        flex: 60%;
        
    }
    .articleflex
    { 
        display: flex;
    }
    aside
    {
        background-color: #eeeeee;
        border: 1px solid #000000;
        flex: 30%;
        font-size: medium;
    }

    /* téte de page */
    header
    {
        height: auto;
        width: fit-content;
    }
    figure
    {
        display: flex;
        align-items: center;
    }
    .txtacenter
    {
        flex: 20%;
        font-size: xx-large;
        padding: 1%;
        margin: 1%;
    }
    .logo
    {
        padding: 1%;
        height: auto;
        width: 30%;
    }
    .promo
    {
        margin: 1%;
        width: 100%;
        height: auto;
    }

    /* navbar */ 
    ul
    {
        width: 100%;
        background-color: black;
        padding: 1%;
        list-style-type: none;
        text-align: center;
    }
    li
    {
        margin-left: 2rem;
        display: inline;
    }
    .txtBlanc
    {
        color: blanchedalmond;
    }
}

